.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
    border: solid 5px black;
}
.caja {
    display: flex;
    background-color: rgb(226, 192, 192);
    grid-column: 4/4;
    grid-row: 2/2;
    align-items: center;
    justify-content: center;

}